.hero-section{
    background-image: url('../images/hero-image.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    line-height: 100vh;
}
.hero-text{
    color: #000;
    font-size: 100px;
    font-family: "Spectral", serif;
    font-weight: 700;
    font-style: normal;
}