.outreaches-section{
    background-color: #E9D7B6;
    padding: 5% 10% 5% 10%;
}

.outreaches-section .outreach-container .header-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.outreaches-section .outreach-container .individual-outreach-container{
    display: flex;
    gap: 5vh;
}
.outreaches-section .outreach-container .individual-outreach-container .outreach-box-container{
    display: flex;
    flex-direction: column;
}
.outreaches-section .outreach-container .individual-outreach-container .outreach-box-container .outreach-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 40vh;
    height: 20vh;
}
.outreaches-section .outreach-container .individual-outreach-container .outreach-box-container .outreach-text-container p{
    color: #705936;
    font-size: 4vh;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.outreaches-section .outreach-container .individual-outreach-container .outreach-box-container .outreach-image{
    /* width: 40vh;
    height: 40vh; */
    max-width: 100%; 
    min-height: 200px; 
}
/* .outreaches-section .outreach-container .individual-outreach-container .outreach-box-container p{

} */
