.outreaches-section{
    background-color: #E9D7B6;
    padding: 5% 10% 5% 10%;
}

.outreaches-section .outreach-container .header-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.outreach-container .individual-outreach-container{
    display: flex;
    gap: 5vh;
}
.outreach-container .individual-outreach-container .outreach-box-container{
    display: flex;
    flex-direction: column;
}
.outreach-container .individual-outreach-container .outreach-box-container .outreach-description{
    background-color: #fff;
    width: 40vh;
    height: 30vh;
}
.outreach-container .individual-outreach-container .outreach-box-container .outreach-image{
    width: 40vh;
    height: 40vh;
}