html{
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
/* img{
  display: block;
  max-width: 100%;
} */
.section-container{
  height: 100vh;
  width: auto;
}
.section-header-text{
    font-size: 8vh;
    font-family: "Spectral", serif;
    font-weight: 700;
    font-style: normal;
}


